* {
    box-sizing: border-box;
  }
   /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  .column2 {
    float: right;
    width: 66.66%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}
  .connect{
    width: 80%;
    padding: 10px;
    height: 300px;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  .hobbies:after{
    content: "";
      background-color: white;
      position: absolute;
      width: 3px;
      height: 350px;
      top: 25px;
      bottom: 25px;
      left: 50%;
      display: block;
  }
  .signup_box.connect {
    float:center;
  }

  .notification {
    background-color: #4CAF50;
    border: none;
    border-radius: 50%;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }


  .fa-bell{
    transition: ease-in-out 0.3s;
  }
  .fa-bell:hover {
    color:white;
  }

  #I-card{
    margin-left: 15px;
    color:white;
    font-size: 20px;
  }