body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    padding-right: 25px;
    background-image: url('res/bg4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    zoom: 85%;
 }
 .test{
   width: 30rem;
   height: 20rem;
   box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
   border-radius: 5px;
   background-color: rgba(255, 255, 255, .15);
   
   backdrop-filter: blur(5px);
 }

 .test2{
   width: 100%;
   height: 7 rem;
   box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
   border-radius: 5px;
   background-color: rgba(255, 255, 255, .15);
   backdrop-filter: blur(5px);
   padding-inline-end: 5px;
 }

img.fb{

opacity: 0.8;
filter: alpha(opacity=50); /* For IE8 and earlier */

}
.fun{
 font-size: 20px;
 font-family: 'Amatic SC', cursive;
}

 .box {
    border:#666666 solid 1px;
    height: 50px;
    width: 200px;
 }

.user{
   border-radius: 5px;
background-color: rgba(255, 255, 255, .15);
backdrop-filter: blur(5px);
box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
display:block;
color: white;
font-size: 40px;
font-family: 'Amatic SC', cursive;

}

a{
 color:white;
 text-decoration: none;
 font-size: 28px;
line-height: 28px;
-webkit-transition: color 0.5s;
 transition: color 0.5s
}  

a:hover{
 color: orangered;
}
.google{
 
 background-color: #357ae8;
 color:aliceblue;
  
 border-radius: 10px;
 font-family:Century Gothic;
 font-size: 24px;
 -webkit-transition: color 1s;
 transition: color 1s
}

.google:hover{
 background-color: aliceblue;
 color:#357ae8;
}

.btn.btn-primary:hover{
   color:blue;
   background-color:white;
}

.blue-border-image:hover{
   border: solid 2px blueviolet;
}

.blue-border-card:hover{
   width: 300px;
   height: 300px;
}

#circle {
   position: absolute;
   top: 85%;
   left: 50%;
   transform: translate(-50%,-50%);
  width: 125px;
   height: 125px;	
}

.loader {
   width: calc(100% - 0px);
  height: calc(100% - 0px);
  border: 8px solid #162534;
  border-top: 8px solid #09f;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
100% {transform: rotate(360deg);}
}
