body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    padding-right: 25px;
    background-image: url('res/bg4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    zoom: 85%;
 }

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

.shiney-button {
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color:white;
  background-color: blue;
  border: 2px solid #2194E0;
  font-size: 14px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}
.shiney-button:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  .shiney-button:hover {
    background-color: #2194E0;
    color: #fff;
    border-bottom: 4px solid darken(#2194E0, 10%);
   }
   .shiney-button:hover:before {
      transform: skewX(-45deg) translateX(13.5em);
     transition: all 0.6s ease-in-out;
}



.shiney-button-2 {
   text-decoration: none;
   text-transform: uppercase;
   font-family: 'Exo 2', sans-serif;
   background-color: #00c7ec;

   font-weight: 300;
   font-size: 16px;
   display: inline-block;
   position: relative;
   text-align: center;
   color:white;
   border: 1px solid #00c7ec;
   border-radius: 5px;
   line-height: 3em;
   padding-left: 5em;
   padding-right: 5em;
   box-shadow: 0 0 0 0 transparent;
   -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   transition: all 0.2s ease-in;
 }
 .shiney-button-2:hover {
   color: white;
   box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5);
   background-color: #00c7ec;
   -webkit-transition: all 0.2s ease-out;
   -moz-transition: all 0.2s ease-out;
   transition: all 0.2s ease-out;
 }
 .shiney-button-2:hover:before {
   -webkit-animation: shine 0.5s 0s linear;
   -moz-animation: shine 0.5s 0s linear;
   animation: shine 0.5s 0s linear;
 }
 .shiney-button-2:active {
   box-shadow: 0 0 0 0 transparent;
   -webkit-transition: box-shadow 0.2s ease-in;
   -moz-transition: box-shadow 0.2s ease-in;
   transition: box-shadow 0.2s ease-in;
 }
 .shiney-button-2:before {
   content: '';
   display: block;
   width: 0px;
   height: 86%;
   position: absolute;
   top: 7%;
   left: 0%;
   opacity: 0;
   background: white;
   box-shadow: 0 0 15px 3px white;
   -webkit-transform: skewX(-20deg);
   -moz-transform: skewX(-20deg);
   -ms-transform: skewX(-20deg);
   -o-transform: skewX(-20deg);
   transform: skewX(-20deg);
 }
 
 @-webkit-keyframes shine {
   from {
     opacity: 0;
     left: 0%;
   }
   50% {
     opacity: 1;
   }
   to {
     opacity: 0;
     left: 100%;
   }
 }
 @-moz-keyframes shine {
   from {
     opacity: 0;
     left: 0%;
   }
   50% {
     opacity: 1;
   }
   to {
     opacity: 0;
     left: 100%;
   }
 }
 @keyframes shine {
   from {
     opacity: 0;
     left: 0%;
   }
   50% {
     opacity: 1;
   }
   to {
     opacity: 0;
     left: 100%;
   }
 }

.opp-cross{
   background:blue;
   color:#fff;
   border:2px whitesmoke;
   position:relative;
   height:44px;
   font-size:0.97em;
   padding:0 2em;
   cursor:pointer;
   transition:800ms ease all;
   outline:none;
 }
 .opp-cross:hover{
   background:#fff;
   color:#1AAB8A;
 }
 .opp-cross:before,.opp-cross:after{
   content:'';
   position:absolute;
   top:0;
   right:0;
   height:2px;
   width:0;
   background: #1AAB8A;
   transition:400ms ease all;
 }
 .opp-cross:after{
   right:inherit;
   top:inherit;
   left:0;
   bottom:0;
 }
 .opp-cross:hover:before,.opp-cross:hover:after{
   width:100%;
   transition:800ms ease all;
 }
 .test{
   width: 30rem;
   height: 20rem;
   box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
   border-radius: 5px;
   background-color: rgba(255, 255, 255, .15);
   
   backdrop-filter: blur(5px);
 }

 .test2{
   width: 100%;
   height: 7 rem;
   box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
   border-radius: 5px;
   background-color: rgba(255, 255, 255, .15);
   backdrop-filter: blur(5px);
   padding-inline-end: 5px;
 }

img.fb{

opacity: 0.8;
filter: alpha(opacity=50); /* For IE8 and earlier */

}
.fun{
 font-size: 20px;
 font-family: 'Amatic SC', cursive;
}

 .box {
    border:#666666 solid 1px;
    height: 50px;
    width: 200px;
 }

.user{
   border-radius: 5px;
background-color: rgba(255, 255, 255, .15);
backdrop-filter: blur(5px);
box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
display:block;
color: white;
font-size: 40px;
font-family: 'Amatic SC', cursive;

}

a{
 color:white;
 text-decoration: none;
 font-size: 28px;
line-height: 28px;
-webkit-transition: color 0.5s;
 transition: color 0.5s
}  

a:hover{
 color: orangered;
}
.google{
 
 background-color: #357ae8;
 color:aliceblue;
 padding: 5px; 
 border-radius: 10px;
 font-family:Century Gothic;
 font-size: 24px;
 -webkit-transition: color 1s;
 transition: color 1s
}

.google:hover{
 background-color: aliceblue;
 color:#357ae8;
}

.btn.btn-primary:hover{
   color:blue;
   background-color:white;
}

.blue-border-image:hover{
   border: solid 2px blueviolet;
}

.blue-border-card:hover{
   width: 300px;
   height: 300px;
}

#circle {
   position: absolute;
   top: 85%;
   left: 50%;
   transform: translate(-50%,-50%);
  width: 125px;
   height: 125px;	
}

.loader {
   width: calc(100% - 0px);
  height: calc(100% - 0px);
  border: 8px solid #162534;
  border-top: 8px solid #09f;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
100% {transform: rotate(360deg);}
}
